/*
 Name: Katie Williams
 Date: 02.12.2026
 CSC 372-01

  This is the style.css page for my blog. It includes styling for the body font, headers, footer, sidebar, and cards.
*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    text-align: center;
}


main {
    flex: 7;
    text-align:center;
    min-width: 0px;
}


footer {
    text-align: center;
    background-color:#c3e2f6;
    padding: 15px;
    margin-top: 0;
}


h2 {
    background-color:rgb(179, 194, 228);
    padding: 10px;
    margin-top: 0;
}



.card-container{
    display: flex;      
    flex-wrap: wrap;
    gap: 100px;    
    justify-content: center;      
}


.card {
    width:200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:antiquewhite;
}


.card img {
  width: 100%;        
  height: 120px;      
  object-fit: cover;
}


.container {
  padding: 2px 16px;
}


.layout {
    display:flex;
    gap: 20px; 
}


.restaurant-info {
    margin-bottom:50px;
}


.sidebar {
    flex: 1; 
    background-color:#669bbc;
    color: white;
    padding: 20px;
    position: sticky; 
}


.sidebar p{
    margin-bottom: 500px;
}


